<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <h1>What is the difference that you want between angles?</h1>
    <form method="POST" action="/">
        <div class="form-group">
            <p>I want a <input type="number", name="variance" id="quantity" min="1" max="36" value="30" > degree difference between angles. (Enter a number between 1 and 36) </p>
        </div>
        <input class="btn btn-primary" type="submit" value="submit">
    </form>
    
</body>
<!-- <img src="example_angle.jpg"/> -->
</html>